.main-bg {
	background: url(http://192.168.33.50/site/wp-content/uploads/sallad.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 55vh;
	margin-top: -30px;
}

.main-bg-wrapper {
	padding-right: 0;
	padding-left: 0;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.bg-inverse {
	height: 100px !important; 
}

#main-menu {
	margin-top: 23px;
	float: right !important;
}

.navbar-toggle {
	float: right !important;
}

.type-recept {
	margin-top: 300px !important;

}

#full-width-page-wrapper {
	height: 500px;
}

.navbar {
	background-color: $main-color !important;
	box-shadow: 0px 1px 20px black;
}

#log-in-out-link {
	margin-left: 4px;
	margin-top: 7px;
	a:hover {
		text-decoration: none;
	}
}

.navbar-brand {
	font-family: 'Cinzel Decorative', cursive;
	font-size: 1.8em;
	float: left;
	margin-top: 20px;
}

article {
	header {
		h2 {
			font-family: 'Cinzel Decorative', cursive;
			font-size: 3em;
		}
	}
}
#wrapper-footer {
	width: 100%;
	height: 230px;
	display: none;
}

.bg-inverse {
	z-index: 1;
	height: 150px;
	background: rgba(255, 255, 255, 0);
}

.entry-header {
	margin-top: -300px;
	text-align: center;
	color: white;
}

.edit-link {
	display: none;
}
#welcome {
	color: black;
	margin-top: 200px;
	font-size: 10em;
}

#log_forms {
	width: 50vh;
	text-align: center;
	float: right;
}

.entry-content {
	.logged-in {
		font-size: 20px;
		text-align: center;
		color: white;
		a {
			color: white;
		}
	}
}

.navbar-toggle {
	margin-top: 25px;
	float: left;
}
@media (max-width: 790px) {
	#three_latest_posts {
		padding-top: 15px;
	}

	.each-recept {
		width: 100% !important;
		height: 100% !important;
	}
}

@media (max-width: 550px) {
	#three_latest_posts {
		padding-top: 200px;
	}

	.each-recept {
		width: 100% !important;
		height: 100% !important;
	}
}

#three_latest_posts {
	ul {
		margin: 0;
		padding: 0;
		display: inline;
		.each-recept {	
			display: block;
			text-align: center;
			list-style-type: none;
			border-radius: 25px;
			height: 160px;
			padding: 10px;
			width: 32%;
			margin: 5px;
			margin-top: 10px;
			background-color: #F4F4F4;
			overflow: hidden;
			animation: fadein 3s;
		}
		@keyframes fadein {
			from { opacity: 0; }
			to 	 { opacity: 1; }
		}
	}

	li {
		display: inline;
		list-style-type: none;	
	}
}

#wrapper-footer {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #52C958; 
}

.understrap-read-more-link {
	display: none;
}

.comments-link {
	display: none;
}

.page-title {
	text-align: center; 
	padding: 10px 5px 30px 5px;
	font-family: 'Cinzel Decorative', cursive;
}

.widget-area {
	text-align: center;
	margin-top: 50px;
}

li {
	#ofkockar {
		margin-left: 70px;
		padding: 7px;
	}
}

#acf-form {
	border: 1px solid $main-color;
	border-radius: 10px;
	padding: 5px;
	width: 50%;
	margin: 0 auto;
}

@media (max-width: 770px) {
	#acf-form {
		width: 80%;
	}
}

.recept-info {
	font-family: 'Cinzel Decorative', cursive;
	text-align: center;
	font-size: 2em;
}

.need-log-on {
	text-align: center;
	margin-top: 200px;
}

.form_style {
	width: 30%;
	margin: 0 auto;
	border: none !important;
}

#post-0 {
	text-align: center;
	margin-top: 50px;
}

h4 {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 3em;
	color: #52C958;
}

.recept-picture {
	margin-bottom: 10px;
}