body {
	background-color: purple;
}

.bg-inverse {
	color: grey !important;
	height: 100px !important; 
}

.navbar-brand {
	text-align: center;
	margin-top: 20px;
}

#main-menu {
	margin-top: 20px;
	float: right !important;
}


.type-recept {
	margin-top: 300px !important;
}

